<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
</script>
<title> Raj Dhumal </title>
</head>

<body style="background-image:url('../static/images/bg.jpg');   
background-repeat:no-repeat; background-size: 100% 100%">    

<div class="text-center">
    <br>
    <h1> Raj Dhumal </h1>
    <h2> Senior DevOps Engineer </h2>
    <br>
</div>
<!-- Navbar Section -->
<nav class="navbar navbar-expand-sm bg-info navbar-light">
	<!-- Brand/logo -->
	<a class="navbar-brand" href="">
	<img src="https://st2.depositphotos.com/42546960/42287/v/450/depositphotos_422874032-stock-illustration-letter-logo-design-vector-template.jpg" alt="logo"
		style="width:40px;">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapse_Navbar">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapse_Navbar">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link text-white" href={{ url_for('index') }}>Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white" href="#experience">Experience</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white" href="#Prof-skill">Skills</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white" href="#education">Education</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white" href="#contact-us">Contact me</a>
		</li>
	</ul>
	</div>
</nav>

<div class="content">
    {% block content %} {% endblock %}
</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous">
</script>

</body>

</html>


